<div class="container">

    <div class="col-lg-3">
    </div>

    <div class="col-lg-6">

		<h1>What's ラーメンハンターズ？</h1>

		<div class= "margin : 50px">
		ラーメン食べたとき、友達は美味しいと絶賛していても、自分には普通だなと思ったことはありませんか？<br>
		どんなに絶品のラーメンでも人によって好みが分かれるもの。<br>
		ただ、やっはりみんな大好きなラーメン。<br>
		あなたも、自分と好みが合いそうな人からラーメンを探してみませんか？<br>
		</div>
		<div class="about">
			<%= image_tag 'about1.jpeg' %>
		</div>
	</div>

    <div class="col-lg-3">
    </div>

</div>