<h1>Searches#top</h1>
<p>Find me in app/views/searches/top.html.erb</p>


<div>
	<%= link_to "ユーザーを探す", users_path, class: "btn-sm btn-success" %>
</div>

<div>
	<%= link_to "店舗を探す", root_path, class: "btn-sm btn-success" %>
	※工事中です
</div>